{% extends 'base/base.html' %}
{% load static %}

{% block titulo %} - Página Inicial{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'turmas/turmas.css' %}"> 
<link rel="stylesheet" href="{% static 'turmas/form.css' %}"> 
{% endblock extra_css %}
{% block conteudo %}
<div class="container">
    <div class="content-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-title">
                    Enviar documento para turmas
                </div>
                {% for error in form.non_field_errors %}
                    <div class="error-message">
                        <i class="fas fa-exclamation-circle"></i>
                        {{ error }}
                    </div>
                {% endfor %}
                <div class="form-field-container">
                    <p class="form-label">{{ form.nome.label }}:</p>
                    {{ form.nome }}
                </div>
                <div class="form-field-container">
                    <p class="form-label">{{ form.documento.label }}:</p>
                    {{ form.documento }}
                </div>
                <div class="form-field-container">
                    <p class="form-label">{{ form.turmas.label }}:</p>
                    {{ form.turmas }}
                </div>
                <div class="d-flex justify-content-end my-3">
                    <input type="submit" style="background-color:#00897B;font-weight:bold;"
                        class="btn w-25 text-white" value="Postar Documento">
                </div>

            </div>
        </form>
    </div>
</div>
<script src="https://kit.fontawesome.com/d00ebd3d85.js" crossorigin="anonymous"></script>
{% endblock conteudo %}