{% extends 'base/base.html' %}

{% block titulo %} - Teste {% endblock titulo %}

{% block conteudo %}
    <div class="container mt-3">
        <form method="POST">
            {% csrf_token %}
            <div class="border rounded p-3">
                <div class="m-3 arimo-bold">
                    Criar aluno
                </div>
                <div class="row mx-2 flex-column">
                    {{ form.nome.label }}:
                    {{ form.nome }}
                </div>
                <div class="row mx-2 mt-3 flex-column">
                    {{ form.senha.label }}:
                    {{ form.senha }}
                </div>
                <div class="d-flex justify-content-end my-3">
                    <input type="submit"
                           style="background-color:#00897B;font-weight:bold;"
                           class="btn w-25 text-white"
                           value="Criar usuário no container">
                </div>
            </div>
        </form>
    </div>
{% endblock conteudo %}
