{% extends 'base/base.html' %}

{% block titulo %} - Página Inicial{% endblock titulo %}
{% block conteudo %}
<div class="content-container mt-3">
	<div class="container">
		<div class="d-flex justify-content-end">
			<a  style="background-color:#00897B;"
				class="border rounded px-3 py-2 text-white" 
				href="{% url 'turmas:criar' %}">Criar nova turma</a>
		</div>

		<div class="mb-2 turmas-list-title arimo-bold">
			Turmas
		</div>
		{% for turma in turmas %}
		<div class="flex-column row border rounded p-3 my-3">
			<div class="d-flex justify-content-between">
				<div>
					{{ turma }} - {{ turma.container.nome_container }}
				</div>
				{% if not turma.container.ativo %}
				<div 
					style="background-color:#f0dada;width:10%;" 
					class="d-flex justify-content-center border rounded border-danger py-1 text-danger">
					Inativo
				</div>
				{% else %}
				<div 
					style="background-color:#daf0db;width:10%;" 
					class="d-flex justify-content-center border rounded border-success py-1 text-success">
					Rodando 
				</div>
				{% endif %}
			</div>
			<div class="d-flex px-4 py-2 justify-content-end">
				<a href="{% url 'turmas:ver' turma.pk %}"> Ver mais</a>
			</div>
		</div>
		{% endfor %}  
	</div>
</div>
{% endblock conteudo %}

